body {
  display: flex;
  justify-content: center;
}
.main {
  height: 525px;
  width: 450px;
  background-color: white;
  border: 5px solid rgb(33, 58, 132) ;
  border-radius: 15px;
  box-shadow: 0 0 20px 1px rgb(0, 0, 0);
  padding: 15px;
}

.display {
  height: 100px;
  display: flex;
  margin-right: 10px;
}

input {
  font-size: 37px;
  font-weight: bold;
  overflow: hidden;
  border: none;
  background-color: white;
  border-radius: 10px;
  height: 82px;
  color: royalblue;
}

.cleaning {
  display: flex;
  justify-content: center;
}

.cleaning button {
  flex: 1;
  height: 60px;
  margin-bottom: 2px;
  border-radius: 10px;
  border: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F2F2F2;
  border-radius: 15px;
  gap: 16px;
}

.buttons button {
  width: 86px;
  height: 79px;
  color: #464646;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  font-size: 35px;
}

.clearD:hover,
.buttons button:hover {
  transition: 0.6s;
  background-color: rgb(162, 176, 191);
}

.clearD:active,
.buttons button:active {
  transform: scale(1.1);
  background-color: lightslategray;
  color: white !important;
}

.equal,
.operator {
  color: royalblue !important;
}

.operator:hover,
.equal:hover {
  transition: 0.6s;
  background-color: #becfff !important;
}

.operator:active,
.equal:active {
  transform: scale(1.1); 
  background-color: royalblue !important;
  color: white !important;
}